<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>GroovTube Hotkey wants to automatically connect to the GroovTube peripheral</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2023 Joris van der Wel</string>
	<key>CFBundleDisplayName</key>
	<string>GroovTube Hotkey</string>
	<key>CFBundleName</key>
	<string>GroovTube Hotkey</string>
	<key>CFBundleIdentifier</key>
	<string>nl.groovtube.groovtube-hotkey</string>
</dict>
</plist>
